<main>
  <pas-navbar src="assets/images/logo.svg"
              alt="PASCADA Spritpreisradar">
    <ng-template>
      <pas-appstore-button url="spritpreisalarm/id979594247"></pas-appstore-button>
    </ng-template>
    <ng-template>
      <pas-playstore-button url="id=de.smf.spritpreisalarm"></pas-playstore-button>
    </ng-template>
  </pas-navbar>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>

<pas-cookie-notice></pas-cookie-notice>
<pas-navbar-footer>
</pas-navbar-footer>
